*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
    background-color: black;
    color: white;
}
button , img{
    height: 70px;
}